#include "GameResources.h"

// --------------------------------------
// Icons
// --------------------------------------
IDI_MyWindowIcon	ICON	"Images\\Balloon.ico"

// --------------------------------------
// Fonts
// --------------------------------------
IDF_MyFont			FONT	"Fonts\\CactusSandwich.ttf"

// --------------------------------------
// Cursors
// --------------------------------------
IDC_GUNSIGHT		CURSOR	"Images\\Gun.cur"
